.btn.btn-raised {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.btn-fab {
  margin: 0;
  padding: 15px;
  font-size: 26px;
  width: 56px;
  height: 56px;
}
.btn.btn-fab,
.btn.btn-fab:hover,
.btn.btn-fab:active,
.btn.btn-fab-default,
.btn.btn-fab:hover-default,
.btn.btn-fab:active-default {
  background-color: transparent;
}
.btn.btn-fab-black,
.btn.btn-fab:hover-black,
.btn.btn-fab:active-black {
  background-color: #000000;
}
.btn.btn-fab-white,
.btn.btn-fab:hover-white,
.btn.btn-fab:active-white {
  background-color: #ffffff;
}
.btn.btn-fab-inverse,
.btn.btn-fab:hover-inverse,
.btn.btn-fab:active-inverse {
  background-color: #3f51b5;
}
.btn.btn-fab-primary,
.btn.btn-fab:hover-primary,
.btn.btn-fab:active-primary {
  background-color: #009688;
}
.btn.btn-fab-success,
.btn.btn-fab:hover-success,
.btn.btn-fab:active-success {
  background-color: #4caf50;
}
.btn.btn-fab-info,
.btn.btn-fab:hover-info,
.btn.btn-fab:active-info {
  background-color: #03a9f4;
}
.btn.btn-fab-warning,
.btn.btn-fab:hover-warning,
.btn.btn-fab:active-warning {
  background-color: #ff5722;
}
.btn.btn-fab-danger,
.btn.btn-fab:hover-danger,
.btn.btn-fab:active-danger {
  background-color: #f44336;
}
.btn.btn-fab-material-red,
.btn.btn-fab:hover-material-red,
.btn.btn-fab:active-material-red {
  background-color: #f44336;
}
.btn.btn-fab-material-pink,
.btn.btn-fab:hover-material-pink,
.btn.btn-fab:active-material-pink {
  background-color: #e91e63;
}
.btn.btn-fab-material-purple,
.btn.btn-fab:hover-material-purple,
.btn.btn-fab:active-material-purple {
  background-color: #9c27b0;
}
.btn.btn-fab-material-deep-purple,
.btn.btn-fab:hover-material-deep-purple,
.btn.btn-fab:active-material-deep-purple {
  background-color: #673ab7;
}
.btn.btn-fab-material-indigo,
.btn.btn-fab:hover-material-indigo,
.btn.btn-fab:active-material-indigo {
  background-color: #3f51b5;
}
.btn.btn-fab-material-blue,
.btn.btn-fab:hover-material-blue,
.btn.btn-fab:active-material-blue {
  background-color: #2196f3;
}
.btn.btn-fab-material-light-blue,
.btn.btn-fab:hover-material-light-blue,
.btn.btn-fab:active-material-light-blue {
  background-color: #03a9f4;
}
.btn.btn-fab-material-cyan,
.btn.btn-fab:hover-material-cyan,
.btn.btn-fab:active-material-cyan {
  background-color: #00bcd4;
}
.btn.btn-fab-material-teal,
.btn.btn-fab:hover-material-teal,
.btn.btn-fab:active-material-teal {
  background-color: #009688;
}
.btn.btn-fab-material-green,
.btn.btn-fab:hover-material-green,
.btn.btn-fab:active-material-green {
  background-color: #4caf50;
}
.btn.btn-fab-material-light-green,
.btn.btn-fab:hover-material-light-green,
.btn.btn-fab:active-material-light-green {
  background-color: #8bc34a;
}
.btn.btn-fab-material-lime,
.btn.btn-fab:hover-material-lime,
.btn.btn-fab:active-material-lime {
  background-color: #cddc39;
}
.btn.btn-fab-material-yellow,
.btn.btn-fab:hover-material-yellow,
.btn.btn-fab:active-material-yellow {
  background-color: #ffeb3b;
}
.btn.btn-fab-material-amber,
.btn.btn-fab:hover-material-amber,
.btn.btn-fab:active-material-amber {
  background-color: #ffc107;
}
.btn.btn-fab-material-orange,
.btn.btn-fab:hover-material-orange,
.btn.btn-fab:active-material-orange {
  background-color: #ff9800;
}
.btn.btn-fab-material-deep-orange,
.btn.btn-fab:hover-material-deep-orange,
.btn.btn-fab:active-material-deep-orange {
  background-color: #ff5722;
}
.btn.btn-fab-material-brown,
.btn.btn-fab:hover-material-brown,
.btn.btn-fab:active-material-brown {
  background-color: #795548;
}
.btn.btn-fab-material-grey,
.btn.btn-fab:hover-material-grey,
.btn.btn-fab:active-material-grey {
  background-color: #9e9e9e;
}
.btn.btn-fab-material-blue-grey,
.btn.btn-fab:hover-material-blue-grey,
.btn.btn-fab:active-material-blue-grey {
  background-color: #607d8b;
}
.btn.btn-fab,
.btn.btn-fab:hover {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-fab:active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-fab,
.btn.btn-fab .ripple-wrapper {
  border-radius: 100%;
}
.btn.btn-fab.btn-fab-mini {
  width: 40px;
  height: 40px;
  padding: 13px 0;
  font-size: 15px;
}
.btn.btn-fab i {
  position: relative;
  top: -5px;
  margin: 0 auto;
}