#content-wrapper{
	padding: 9%;
}
.column {
/*   max-width: 450px; */
}
.anchor.a_signup {
    font: large Arial,Georgia;
}

.login.help-block{
	float:left;
}

.divider {
    background: none;
    transform: none;
}

.ui.label.helper-label {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: rgb(199, 67, 80);
    padding-right: 0;
}